.header {
  ght: 30px;
  position: relative;
  flex: none;
  background: #026aa7;
  height: 30px;
  overflow: hidden;
  padding: 5px 8px;
  z-index: 10;
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
}

.header-logo {
  bottom: 0;
  display: block;
  height: 30px;
  left: 47%;
  opacity: .5;
  position: absolute;
  top: 5px;
  width: 30px;
  text-align: center;
  z-index: 2;
  color: #444;
  background-color: transparent;
}

.header-logo:hover {
  opacity: .8;
}

.header-logo-default {
  background-image: url('https://user-images.githubusercontent.com/13432607/29981988-82cec158-8f58-11e7-9f26-473079c2a9b1.png');
  background-position: 100% 0;
  background-repeat: no-repeat;
  background-size: 30px 30px;
  height: 30px;
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
}
