@font-face {
  font-family: trellicons;
  src: url('https://a.trellocdn.com/dist/fonts/trellicons.bf57a510b0c02a2e1611.eot');
  src: url('https://a.trellocdn.com/dist/fonts/trellicons.bf57a510b0c02a2e1611.eot#iefix') format('embedded-opentype'),
    url('https://a.trellocdn.com/dist/fonts/trellicons.a6d87a53cce7f4d089dd.ttf') format('truetype'),
    url('https://a.trellocdn.com/dist/fonts/trellicons.ee39204bdadeaa6edf0a.woff') format('woff'),
    url('https://a.trellocdn.com/dist/fonts/trellicons.6f1a7f1b268d5117df93.svg#trellicons') format('svg');
  font-weight: 400;
  font-style: normal;
}

html {
  height: 100%;
  color: #333;
  font: 14px Helvetica Neue, Arial, Helvetica, sans-serif;
  line-height: 18px;
  font-weight: 400;
}

body, #root {
  margin: 0;
  color: #333;
  font: 14px Helvetica Neue, Arial, Helvetica, sans-serif;
  line-height: 18px;
  font-weight: 400;
  position: relative;
  overflow-y: auto;
  height: 100%;
  background: #fff;
}

body,
button,
html,
input,
select,
textarea {
  color: #333;
  font: 14px Helvetica Neue, Arial, Helvetica, sans-serif;
  line-height: 18px;
  font-weight: 400;
}

a {
  background-color: transparent;
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
